
/*=========================================*/
/*layout*/
/*=========================================*/

/*-------------------------------------------*/
/* 全体レイアウト                            */
/*-------------------------------------------*/
body {
  font-size:1rem;
  color:#333;
}

.header,
.gnav,
.footer {
  width:100%;
  margin:0;
}
.container,
.header-container,
.gnav-container,
.footer-container {
  width:1200px;
  margin:0 auto;
  position:relative;
}


/*-------------------------------------------*/
/* ヘッダー
/*-------------------------------------------*/
.header {
}
.header-container {
  padding:20px 0;
}
.header .site-name {
  font-size:2.5em;
  font-weight:bold;
}


/*-------------------------------------------*/
/* グローバルナビ
/*-------------------------------------------*/
.gnav {
  .gnav-container {
    margin:0 auto;
  	text-align:left;
    &:after {
    	content:".";
    	display:block;
    	height:0;
    	font-size:0;
    	clear:both;
    	visibility:hidden;
    }
  }
  .gnav-items {
  }
  .gnav-item {
    display:inline-block;
    -moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	-ms-box-sizing:border-box;
  	box-sizing:border-box;
  	display:inline-block;
  	width:12%;
  	margin-left: 10px;
    &:first-child {
      margin-left: 0px;
    }
    & > a {
    	display:block;
    	padding:20px 10px 5px;
    	text-align: left;
    	color:#888;
    	font-size:1rem;
    	border-bottom:3px solid #999;
      &:hover {
      	text-decoration:none;
      	color:#555;
      	border-color:#2987D8;
      }
    }
  }
  .gnav-item-link {
    display:block;
    padding:10px 20px;
  }
}


/*-------------------------------------------*/
/* コンテナ
/*-------------------------------------------*/
.container {
  padding:40px 20px;
}


/*-------------------------------------------*/
/* メイン
/*-------------------------------------------*/
.main {
  float:left;
  width: $main-width;
  overflow:visible !important;
  position:relative;
  margin:0;
  padding:0;
  font-size:1rem;
}


/*-------------------------------------------*/
/* サイドバー
/*-------------------------------------------*/
.sidebar {
  float:right;
  width: $sidebar-width;
  font-size:1rem;
  margin:0;
}



/*-------------------------------------------*/
/* フッダー
/*-------------------------------------------*/
.footer {
  clear:both;
  background-color:#F5F5F5;
  font-size:0.9rem;
}
.footer-container {
  padding:20px;
}
.footer .copyright {
  display:block;
  font-size:10pt;
  color:#666;
  text-align:center;
  margin:0;
  padding:10px;
}


/*-------------------------------------------*/
/* パンくずリスト                            */
/*-------------------------------------------*/
.breadcrumb {
  color:#444;
  font-size:12px;
  padding:6px 0 5px;
  width:100%;
  margin:10px 0 5px;
  .item {
    list-style:none;
    display:inline-block;
    margin-bottom:2px;
    .item:after {
      content:' >';
      padding-left:3px;
      display:inline-block;
      font-size:1rem;
      visibility: visible;
    }
    &.current {
      text-decoration:underline;
      &:after {
        content:'';
      }
      strong {
        font-weight:normal;
      }
    }
  }
}
