



/*-------------------------------------------*/
/* テキスト
/*-------------------------------------------*/


/* フォント
-----------------------------------------*/
.meiryo {font-family:"メイリオ", Meiryo, Osaka, sans-serif !important;}
.mincho {font-family: "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif !important;}
.ms-gothic {font-family:"ＭＳ Ｐゴシック", "MS P Gothic",  Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro" sans-serif !important;}




.txt {
  font-size:1rem;
  line-height:1.5;
}
.txt.md-main {
  font-size:1.1rem;
  line-height:1.5;
}



.t-supplement {
  @extend %t-supplement;
  font-weight:normal;
}
.t-copy {
  font-size:16px;
  line-height:1.5;
  text-align:center;
  font-weight:bold;
  color:#779438;
  margin-bottom:5px;
}
.t-price {
  color:$price-color;
  font-weight:bold;
}
.t-marker {
  background: linear-gradient(transparent 55%, #fefd8f 0%);
}


/* 図・画像のキャプション
-----------------------------------------*/
.fig-caption {
  @extend %t-supplement;
  display:block;
  margin:1px 0 0;
}


/* ぶら下がりインデント
-----------------------------------------*/
.t-indent {
  @extend %indent;
}

.notes {
  @extend %t-supplement;
}
p.notes {
  @extend %indent;
}
ul.notes li {
  list-style-type:none !important;
  list-style-position:outside !important;
  @extend %indent;
}
.t-indent .el-blank,
.notes .el-blank {
  display:inline-block;
  padding:0 10px;
}
/* 「価格表[ ]部分は～」のような記述に使用 */
.notes .el-blank.md-bg01,
.notes .el-blank.md-note01 {
  border:1px solid #CCC;
  background-color:#FBFCB7;
}
.notes .el-blank.md-bg02,
.notes .el-blank.md-note02 {
  border:1px solid #CCC;
  background-color:#DCFFF1;
}
.notes .bg01 {
  display:inline-block;
  padding:0 10px;
  border:1px solid #CCC;
  background-color:#FBFCB7;
}

.t-indent.md-i01-05, p.notes.md-i01-05, ul.notes.md-i01-05 li,
.t-indent.md-i1-5, p.notes.md-i1-5, ul.notes.md-i1-5 li {
  text-indent:-1.6em;
  margin-left:1.6em;
}
.t-indent.md-i02, p.notes.md-i02, ul.notes.md-i02 li,
.t-indent.md-i2, p.notes.md-i2, ul.notes.md-i2 li {
  text-indent:-2em;
  margin-left:2em;
}
.t-indent.md-i02-05, p.notes.md-i02-05, ul.notes.md-i02-05 li,
.t-indent.md-i2-5, p.notes.md-i2-5, ul.notes.md-i2-5 li {
  text-indent:-2.6em;
  margin-left:2.6em;
}
.t-indent.md-i03, p.notes.md-i03, ul.notes.md-i03 li,
.t-indent.md-i3, p.notes.md-i3, ul.notes.md-i3 li {
  text-indent:-3em;
  margin-left:3em;
}
.t-indent.md-i04, p.notes.md-i04, ul.notes.md-i04 li,
.t-indent.md-i4, p.notes.md-i4, ul.notes.md-i4 li {
  text-indent:-4em;
  margin-left:4em;
}
.t-indent.md-i05, p.notes.md-i05, ul.notes.md-i05 li,
.t-indent.md-i5, p.notes.md-i5, ul.notes.md-i5 li {
  text-indent:-5em;
  margin-left:5em;
}


p.notes.md-example,
ul.notes.md-example li {
  text-indent:-2em;
  margin-left:2em;
}
.t-example {
  @extend %t-supplement;
  list-style:none outside;
  text-indent:-2em;
  margin-left:2em;
}






/* テキストサイズ
-----------------------------------------*/
@for $i from 10 through 60 {
  .t#{$i} { font-size: #{$i}px !important }
}

.t-large {font-size:1.2em;}
.t-small {font-size:0.9em;}


/* 行幅
-----------------------------------------*/
.lh0-8, .lh0-8 p {line-height:0.8 !important;}
.lh0-9, .lh0-9 p {line-height:0.9 !important;}
.lh1-0, .lh1-0 p {line-height:1.0 !important;}
.lh1-1, .lh1-1 p {line-height:1.1 !important;}
.lh1-2, .lh1-2 p {line-height:1.2 !important;}
.lh1-3, .lh1-3 p {line-height:1.3 !important;}
.lh1-4, .lh1-4 p {line-height:1.4 !important;}
.lh1-5, .lh1-5 p {line-height:1.5 !important;}
.lh1-6, .lh1-6 p {line-height:1.6 !important;}
.lh1-7, .lh1-7 p {line-height:1.7 !important;}
.lh1-8, .lh1-8 p {line-height:1.8 !important;}
.lh1-9, .lh1-9 p {line-height:1.9 !important;}
.lh2-0, .lh2-0 p {line-height:2.0 !important;}




/* テキストカラー
-----------------------------------------*/
.white {color:#fff !important;}
.yellow {color:#f90 !important;}
.red {color:#f00 !important;}
.t-red {color:#C63329 !important;}
.t-red01 {color:#C00 !important;}
.t-gray, .gray {color:#666 !important;}
.t-gray333 {color:#333 !important;}
.t-gray444 {color:#444 !important;}
.t-gray555 {color:#555 !important;}
.t-gray666 {color:#666 !important;}
.t-gray999 {color:#999 !important;}
.blue {color:#06f !important;}
.t-blue {color:#4BAA9F !important;}
.t-blue01 {color:#2A8CBE !important;}
.t-blue02 {color:#23476F !important;}
.green {color:#060 !important;}
.t-green {color:#90C030 !important;}
.t-green01 {color:#53820F !important;}
.t-green02 {color:#60B353 !important;}
.t-yellow-green {color:#779438 !important;}
.brown {color:#600 !important;}
.t-orange {color:#F7941D !important;}
.t-orange01 {color:#E57B27 !important;}

.t-brown {color:#A0763F !important;}
.t-brown-dark {color:#7D4F13 !important;}



/* テキスト揃え
-----------------------------------------*/
.t-left {text-align:left !important;}
.t-right {text-align:right !important;}
.t-center {text-align:center !important;}



/* バーチカルアライン
-----------------------------------------*/
.v-bottom {vertical-align:bottom !important;}
.v-baseline {vertical-align:baseline !important;}
.v-middle {vertical-align:middle !important;}
.v-top {vertical-align:top !important;}
.v-central {vertical-align:central !important;}



/* テキスト装飾
-----------------------------------------*/
.t-bold {font-weight:bold !important;}
.t-normal {font-weight:normal !important;}
.t-u {text-decoration:underline !important;}
.t-s {text-decoration:line-through !important;}
