@charset "utf-8";




/*=========================================*/
/*layout*/
/*=========================================*/

/*-------------------------------------------*/
/* 全体レイアウト                            */
/*-------------------------------------------*/
body {
	font-size:80%;
	color:#333;
}
.page {
	width:100%;
}


/*-------------------------------------------*/
/* ヘッダー                                  */
/*-------------------------------------------*/
.header {
	width:100%;
}
.header > .header-content {
	width:100%;
}
.header .heading.md-page-title {
	width:100%;
}
.header .heading.md-page-title .logo-img {
}
.header .heading.md-page-title:before {
	width:0px;
	height:60px;
}

/*-------------------------------------------*/
/* ヘッダー                                  */
/*-------------------------------------------*/
.global-navi {
	width:100%;
	float:none;
	position:static;
}
.global-navi .gnav {
	width:100%;
	text-align:center;
}
.global-navi .gnav .el-item {
	box-sizing:border-box;
	display:inline-block;
	width:20%;
	margin:0 0 0 10px;
}
.global-navi .gnav .el-item > a {
	display:block;
	padding:20px 0 5px;
	text-align:center;
	color:#888;
	font-size:14px;
	border-bottom:2px solid #999;
}
.global-navi .gnav .el-item > a:hover {
	text-decoration:none;
	color:#555;
	border-color:#2987D8;
}


/*-------------------------------------------*/
/* パンくずリスト                            */
/*-------------------------------------------*/
.path {
	width:100%;
}



/*-------------------------------------------*/
/* メイン                                      */
/*-------------------------------------------*/
.main-wrapper {
	width:100%;
}


/*-------------------------------------------*/
/* サイドバー                                */
/*-------------------------------------------*/
.sidebar {
	display:none;
}



/*-------------------------------------------*/
/* コンテンツ                                */
/*-------------------------------------------*/
.contents {
	width:96%;
	margin:2%;
}









/*-------------------------------------------*/
/* フッター                                  */
/*-------------------------------------------*/
.footer {
}
.footer > .footer-content {
	width:100%;
}
.footer ul.fnav {
}



/*-------------------------------------------*/
/* レスポンシブ関連                          */
/*-------------------------------------------*/









