@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2662955');
  src: url('../font/fontello.eot?2662955#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?2662955') format('woff2'),
       url('../font/fontello.woff?2662955') format('woff'),
       url('../font/fontello.ttf?2662955') format('truetype'),
       url('../font/fontello.svg?2662955#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?2662955#fontello') format('svg');
  }
}
*/
 
 [class^="fontello-"]:before, [class*=" fontello-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fontello-hourglass-1:before { content: '\e800'; } /* '' */
.fontello-art-gallery:before { content: '\e801'; } /* '' */
.fontello-th-list-3:before { content: '\e802'; } /* '' */
.fontello-ok-3:before { content: '\e803'; } /* '' */
.fontello-bus:before { content: '\e804'; } /* '' */
.fontello-college:before { content: '\e805'; } /* '' */
.fontello-paypal-1:before { content: '\e806'; } /* '' */
.fontello-wordpress:before { content: '\e807'; } /* '' */
.fontello-amex:before { content: '\e808'; } /* '' */
.fontello-discover:before { content: '\e809'; } /* '' */
.fontello-visa:before { content: '\e80a'; } /* '' */
.fontello-mastercard:before { content: '\e80b'; } /* '' */
.fontello-angle-left:before { content: '\e80c'; } /* '' */
.fontello-angle-up:before { content: '\e80d'; } /* '' */
.fontello-angle-down:before { content: '\e80e'; } /* '' */
.fontello-angle-double-left:before { content: '\e80f'; } /* '' */
.fontello-angle-double-right:before { content: '\e810'; } /* '' */
.fontello-user-1:before { content: '\e811'; } /* '' */
.fontello-group:before { content: '\e812'; } /* '' */
.fontello-group-circled:before { content: '\e813'; } /* '' */
.fontello-ok-circled-1:before { content: '\e814'; } /* '' */
.fontello-ok-circled2-1:before { content: '\e815'; } /* '' */
.fontello-home-2:before { content: '\e816'; } /* '' */
.fontello-attach-circled:before { content: '\e817'; } /* '' */
.fontello-flag-1:before { content: '\e818'; } /* '' */
.fontello-download-alt-1:before { content: '\e819'; } /* '' */
.fontello-export-1:before { content: '\e81a'; } /* '' */
.fontello-edit-1:before { content: '\e81b'; } /* '' */
.fontello-retweet:before { content: '\e81c'; } /* '' */
.fontello-compass-1:before { content: '\e81d'; } /* '' */
.fontello-compass-circled:before { content: '\e81e'; } /* '' */
.fontello-trash-2:before { content: '\e81f'; } /* '' */
.fontello-trash-circled:before { content: '\e820'; } /* '' */
.fontello-doc-4:before { content: '\e821'; } /* '' */
.fontello-doc-circled:before { content: '\e822'; } /* '' */
.fontello-doc-new:before { content: '\e823'; } /* '' */
.fontello-doc-new-circled:before { content: '\e824'; } /* '' */
.fontello-basket-3:before { content: '\e825'; } /* '' */
.fontello-lightbulb-2:before { content: '\e826'; } /* '' */
.fontello-lightbulb-alt:before { content: '\e827'; } /* '' */
.fontello-block-2:before { content: '\e828'; } /* '' */
.fontello-down-hand:before { content: '\e829'; } /* '' */
.fontello-left-hand:before { content: '\e82a'; } /* '' */
.fontello-right-hand:before { content: '\e82b'; } /* '' */
.fontello-up-hand:before { content: '\e82c'; } /* '' */
.fontello-fire:before { content: '\e82d'; } /* '' */
.fontello-megaphone-1:before { content: '\e82e'; } /* '' */
.fontello-clipboard-1:before { content: '\e82f'; } /* '' */
.fontello-glasses:before { content: '\e830'; } /* '' */
.fontello-blind:before { content: '\e831'; } /* '' */
.fontello-ellipsis-vert:before { content: '\e832'; } /* '' */
.fontello-flashlight:before { content: '\e833'; } /* '' */
.fontello-cancel-circled:before { content: '\e834'; } /* '' */
.fontello-cancel-squared:before { content: '\e835'; } /* '' */
.fontello-plus:before { content: '\e836'; } /* '' */
.fontello-plus-circled:before { content: '\e837'; } /* '' */
.fontello-plus-squared:before { content: '\e838'; } /* '' */
.fontello-minus:before { content: '\e839'; } /* '' */
.fontello-minus-circled:before { content: '\e83a'; } /* '' */
.fontello-minus-squared:before { content: '\e83b'; } /* '' */
.fontello-help:before { content: '\e83c'; } /* '' */
.fontello-help-circled:before { content: '\e83d'; } /* '' */
.fontello-info:before { content: '\e83e'; } /* '' */
.fontello-info-circled:before { content: '\e83f'; } /* '' */
.fontello-home:before { content: '\e840'; } /* '' */
.fontello-link:before { content: '\e841'; } /* '' */
.fontello-attach:before { content: '\e842'; } /* '' */
.fontello-lock:before { content: '\e843'; } /* '' */
.fontello-lock-open:before { content: '\e844'; } /* '' */
.fontello-flag:before { content: '\e845'; } /* '' */
.fontello-bell-2:before { content: '\e846'; } /* '' */
.fontello-attention:before { content: '\e847'; } /* '' */
.fontello-alert:before { content: '\e848'; } /* '' */
.fontello-direction:before { content: '\e849'; } /* '' */
.fontello-book-open:before { content: '\e84a'; } /* '' */
.fontello-folder:before { content: '\e84b'; } /* '' */
.fontello-archive:before { content: '\e84c'; } /* '' */
.fontello-box:before { content: '\e84d'; } /* '' */
.fontello-bag:before { content: '\e84e'; } /* '' */
.fontello-clock:before { content: '\e84f'; } /* '' */
.fontello-signal:before { content: '\e850'; } /* '' */
.fontello-rocket:before { content: '\e851'; } /* '' */
.fontello-gauge:before { content: '\e852'; } /* '' */
.fontello-traffic-cone:before { content: '\e853'; } /* '' */
.fontello-fog:before { content: '\e854'; } /* '' */
.fontello-paper-plane:before { content: '\e855'; } /* '' */
.fontello-aboveground-rail:before { content: '\e856'; } /* '' */
.fontello-bicycle:before { content: '\e857'; } /* '' */
.fontello-fuel:before { content: '\e858'; } /* '' */
.fontello-th-1:before { content: '\e859'; } /* '' */
.fontello-th-list-1:before { content: '\e85a'; } /* '' */
.fontello-bell:before { content: '\e85b'; } /* '' */
.fontello-cw:before { content: '\e85c'; } /* '' */
.fontello-award:before { content: '\e85d'; } /* '' */
.fontello-mobile-alt:before { content: '\e85e'; } /* '' */
.fontello-at:before { content: '\e85f'; } /* '' */
.fontello-squares:before { content: '\e860'; } /* '' */
.fontello-cafe:before { content: '\e861'; } /* '' */
.fontello-commerical-building:before { content: '\e862'; } /* '' */
.fontello-industrial-building:before { content: '\e863'; } /* '' */
.fontello-police:before { content: '\e864'; } /* '' */
.fontello-restaurant:before { content: '\e865'; } /* '' */
.fontello-school:before { content: '\e866'; } /* '' */
.fontello-shop:before { content: '\e867'; } /* '' */
.fontello-toilet:before { content: '\e868'; } /* '' */
.fontello-tree-1:before { content: '\e869'; } /* '' */
.fontello-note-beamed:before { content: '\e86a'; } /* '' */
.fontello-lightbulb-3:before { content: '\e86b'; } /* '' */
.fontello-megaphone:before { content: '\e86c'; } /* '' */
.fontello-document:before { content: '\e86d'; } /* '' */
.fontello-ruler:before { content: '\e86e'; } /* '' */
.fontello-arr-right:before { content: '\e86f'; } /* '' */
.fontello-arr-left:before { content: '\e870'; } /* '' */
.fontello-arr-down:before { content: '\e871'; } /* '' */
.fontello-arr-up:before { content: '\e872'; } /* '' */
.fontello-star-empty:before { content: '\e873'; } /* '' */
.fontello-note-postage-free:before { content: '\e874'; } /* '' */
.fontello-note-bouen:before { content: '\e875'; } /* '' */
.fontello-note-f4:before { content: '\e876'; } /* '' */
.fontello-upload-1:before { content: '\e877'; } /* '' */
.fontello-torituke:before { content: '\e878'; } /* '' */
.fontello-yen:before { content: '\e879'; } /* '' */
.fontello-mail:before { content: '\e87a'; } /* '' */
.fontello-mail-2:before { content: '\e87b'; } /* '' */
.fontello-book-1:before { content: '\e87c'; } /* '' */
.fontello-question-1:before { content: '\e87d'; } /* '' */
.fontello-leaf:before { content: '\e87e'; } /* '' */
.fontello-location:before { content: '\e87f'; } /* '' */
.fontello-crop:before { content: '\e880'; } /* '' */
.fontello-accessibility:before { content: '\e881'; } /* '' */
.fontello-paste:before { content: '\e882'; } /* '' */
.fontello-briefcase:before { content: '\e883'; } /* '' */
.fontello-suitcase:before { content: '\e884'; } /* '' */
.fontello-ellipsis:before { content: '\e885'; } /* '' */
.fontello-guidedog:before { content: '\e886'; } /* '' */
.fontello-off:before { content: '\e887'; } /* '' */
.fontello-road:before { content: '\e888'; } /* '' */
.fontello-list-alt:before { content: '\e889'; } /* '' */
.fontello-qrcode:before { content: '\e88a'; } /* '' */
.fontello-barcode:before { content: '\e88b'; } /* '' */
.fontello-book-2:before { content: '\e88c'; } /* '' */
.fontello-gift:before { content: '\e88d'; } /* '' */
.fontello-magnet:before { content: '\e88e'; } /* '' */
.fontello-certificate:before { content: '\e88f'; } /* '' */
.fontello-beaker:before { content: '\e890'; } /* '' */
.fontello-truck:before { content: '\e891'; } /* '' */
.fontello-sort:before { content: '\e892'; } /* '' */
.fontello-sort-down:before { content: '\e893'; } /* '' */
.fontello-sort-up:before { content: '\e894'; } /* '' */
.fontello-hammer:before { content: '\e895'; } /* '' */
.fontello-spinner:before { content: '\e896'; } /* '' */
.fontello-user-md:before { content: '\e897'; } /* '' */
.fontello-stethoscope:before { content: '\e898'; } /* '' */
.fontello-ambulance:before { content: '\e899'; } /* '' */
.fontello-medkit:before { content: '\e89a'; } /* '' */
.fontello-scissors:before { content: '\e89b'; } /* '' */
.fontello-building:before { content: '\e89c'; } /* '' */
.fontello-smile:before { content: '\e89d'; } /* '' */
.fontello-frown:before { content: '\e89e'; } /* '' */
.fontello-meh:before { content: '\e89f'; } /* '' */
.fontello-anchor:before { content: '\e8a0'; } /* '' */
.fontello-puzzle:before { content: '\e8a1'; } /* '' */
.fontello-shield:before { content: '\e8a2'; } /* '' */
.fontello-extinguisher:before { content: '\e8a3'; } /* '' */
.fontello-wheelchair:before { content: '\e8a4'; } /* '' */
.fontello-android:before { content: '\e8a5'; } /* '' */
.fontello-facebook-1:before { content: '\e8a6'; } /* '' */
.fontello-facebook-squared:before { content: '\e8a7'; } /* '' */
.fontello-flickr-2:before { content: '\e8a8'; } /* '' */
.fontello-gittip:before { content: '\e8a9'; } /* '' */
.fontello-gplus-squared:before { content: '\e8aa'; } /* '' */
.fontello-gplus:before { content: '\e8ab'; } /* '' */
.fontello-pagelines:before { content: '\e8ac'; } /* '' */
.fontello-trello:before { content: '\e8ad'; } /* '' */
.fontello-paper-plane-1:before { content: '\e8ae'; } /* '' */
.fontello-twitter-squared:before { content: '\e8af'; } /* '' */
.fontello-question-2:before { content: '\e8b0'; } /* '' */
.fontello-stopwatch:before { content: '\e8b1'; } /* '' */
.fontello-torso:before { content: '\e8b2'; } /* '' */
.fontello-th-3:before { content: '\e8b3'; } /* '' */
.fontello-twitter-1:before { content: '\e8b4'; } /* '' */
.fontello-windows:before { content: '\e8b5'; } /* '' */
.fontello-youtube:before { content: '\e8b6'; } /* '' */
.fontello-youtube-squared:before { content: '\e8b7'; } /* '' */
.fontello-youtube-play:before { content: '\e8b8'; } /* '' */
.fontello-note:before { content: '\e8b9'; } /* '' */
.fontello-angle-right:before { content: '\e8ba'; } /* '' */
.fontello-search-3:before { content: '\e8bb'; } /* '' */
.fontello-heart-2:before { content: '\e8bc'; } /* '' */
.fontello-heart-empty-1:before { content: '\e8bd'; } /* '' */
.fontello-star-1:before { content: '\e8be'; } /* '' */
.fontello-tree-2:before { content: '\e8bf'; } /* '' */
.fontello-video:before { content: '\e8c0'; } /* '' */
.fontello-picture:before { content: '\e8c1'; } /* '' */
.fontello-camera:before { content: '\e8c2'; } /* '' */
.fontello-download-1:before { content: '\e8c3'; } /* '' */
.fontello-pallette:before { content: '\e8c4'; } /* '' */
.fontello-upload-cloud:before { content: '\e8c5'; } /* '' */
.fontello-reply:before { content: '\e8c6'; } /* '' */
.fontello-reply-all:before { content: '\e8c7'; } /* '' */
.fontello-forward:before { content: '\e8c8'; } /* '' */
.fontello-vcard:before { content: '\e8c9'; } /* '' */
.fontello-map:before { content: '\e8ca'; } /* '' */
.fontello-basket-1:before { content: '\e8cb'; } /* '' */
.fontello-login:before { content: '\e8cc'; } /* '' */
.fontello-logout:before { content: '\e8cd'; } /* '' */
.fontello-resize-full:before { content: '\e8ce'; } /* '' */
.fontello-resize-small:before { content: '\e8cf'; } /* '' */
.fontello-popup-1:before { content: '\e8d0'; } /* '' */
.fontello-publish:before { content: '\e8d1'; } /* '' */
.fontello-trophy:before { content: '\e8d2'; } /* '' */
.fontello-install:before { content: '\e8d3'; } /* '' */
.fontello-globe-1:before { content: '\e8d4'; } /* '' */
.fontello-cloud-1:before { content: '\e8d5'; } /* '' */
.fontello-cloud-thunder:before { content: '\e8d6'; } /* '' */
.fontello-lifebuoy:before { content: '\e8d7'; } /* '' */
.fontello-brush:before { content: '\e8d8'; } /* '' */
.fontello-language:before { content: '\e8d9'; } /* '' */
.fontello-floppy:before { content: '\e8da'; } /* '' */
.fontello-clipboard:before { content: '\e8db'; } /* '' */
.fontello-megaphone-2:before { content: '\e8dc'; } /* '' */
.fontello-key:before { content: '\e8dd'; } /* '' */
.fontello-ok-circle:before { content: '\e8de'; } /* '' */
.fontello-download-2:before { content: '\e8df'; } /* '' */
.fontello-upload-2:before { content: '\e8e0'; } /* '' */
.fontello-mail-1:before { content: '\e8e1'; } /* '' */
.fontello-videocam-1:before { content: '\e8e2'; } /* '' */
.fontello-videocam-alt:before { content: '\e8e3'; } /* '' */
.fontello-camera-2:before { content: '\e8e4'; } /* '' */
.fontello-th-2:before { content: '\e8e5'; } /* '' */
.fontello-th-list-2:before { content: '\e8e6'; } /* '' */
.fontello-ok-2:before { content: '\e8e7'; } /* '' */
.fontello-cancel-3:before { content: '\e8e8'; } /* '' */
.fontello-cancel-circle:before { content: '\e8e9'; } /* '' */
.fontello-plus-2:before { content: '\e8ea'; } /* '' */
.fontello-download-4:before { content: '\e8eb'; } /* '' */
.fontello-export:before { content: '\e8ec'; } /* '' */
.fontello-pencil-1:before { content: '\e8ed'; } /* '' */
.fontello-edit:before { content: '\e8ee'; } /* '' */
.fontello-print-1:before { content: '\e8ef'; } /* '' */
.fontello-doc-3:before { content: '\e8f0'; } /* '' */
.fontello-rss-3:before { content: '\e8f1'; } /* '' */
.fontello-wrench-1:before { content: '\e8f2'; } /* '' */
.fontello-basket-2:before { content: '\e8f3'; } /* '' */
.fontello-basket-alt:before { content: '\e8f4'; } /* '' */
.fontello-bullhorn:before { content: '\e8f5'; } /* '' */
.fontello-down-1:before { content: '\e8f6'; } /* '' */
.fontello-up-1:before { content: '\e8f7'; } /* '' */
.fontello-book-3:before { content: '\e8f8'; } /* '' */
.fontello-easel:before { content: '\e8f9'; } /* '' */
.fontello-globe-2:before { content: '\e8fa'; } /* '' */
.fontello-at-1:before { content: '\e8fb'; } /* '' */
.fontello-money:before { content: '\e8fc'; } /* '' */
.fontello-sun-inv:before { content: '\e8fd'; } /* '' */
.fontello-attach-1:before { content: '\e8fe'; } /* '' */
.fontello-pencil:before { content: '\e8ff'; } /* '' */
.fontello-bell-1:before { content: '\e900'; } /* '' */
.fontello-clock-2:before { content: '\e901'; } /* '' */
.fontello-angle-double-up:before { content: '\e902'; } /* '' */
.fontello-angle-double-down:before { content: '\e903'; } /* '' */
.fontello-eject:before { content: '\e904'; } /* '' */
.fontello-search-1:before { content: '\e905'; } /* '' */
.fontello-check:before { content: '\e906'; } /* '' */
.fontello-cancel-1:before { content: '\e907'; } /* '' */
.fontello-book-4:before { content: '\e908'; } /* '' */
.fontello-down-bold:before { content: '\e909'; } /* '' */
.fontello-left-bold:before { content: '\e90a'; } /* '' */
.fontello-right-bold:before { content: '\e90b'; } /* '' */
.fontello-up-bold:before { content: '\e90c'; } /* '' */
.fontello-stop-1:before { content: '\e90d'; } /* '' */
.fontello-pause-1:before { content: '\e90e'; } /* '' */
.fontello-record:before { content: '\e90f'; } /* '' */
.fontello-to-end-1:before { content: '\e910'; } /* '' */
.fontello-to-start-1:before { content: '\e911'; } /* '' */
.fontello-fast-forward:before { content: '\e912'; } /* '' */
.fontello-fast-backward:before { content: '\e913'; } /* '' */
.fontello-erase:before { content: '\e914'; } /* '' */
.fontello-book-open-1:before { content: '\e915'; } /* '' */
.fontello-popup:before { content: '\e916'; } /* '' */
.fontello-star:before { content: '\e917'; } /* '' */
.fontello-ok:before { content: '\e918'; } /* '' */
.fontello-cancel:before { content: '\e919'; } /* '' */
.fontello-doc-1:before { content: '\e91a'; } /* '' */
.fontello-rss:before { content: '\e91b'; } /* '' */
.fontello-down-dir-1:before { content: '\e91c'; } /* '' */
.fontello-left-dir-1:before { content: '\e91d'; } /* '' */
.fontello-right-dir-1:before { content: '\e91e'; } /* '' */
.fontello-up-dir-1:before { content: '\e91f'; } /* '' */
.fontello-google:before { content: '\e920'; } /* '' */
.fontello-yahoo:before { content: '\e921'; } /* '' */
.fontello-pocket:before { content: '\e922'; } /* '' */
.fontello-facebook-rect:before { content: '\e923'; } /* '' */
.fontello-twitter:before { content: '\e924'; } /* '' */
.fontello-twitter-bird:before { content: '\e925'; } /* '' */
.fontello-googleplus-rect:before { content: '\e926'; } /* '' */
.fontello-bookmark:before { content: '\e927'; } /* '' */
.fontello-bookmark-empty:before { content: '\e928'; } /* '' */
.fontello-font:before { content: '\e929'; } /* '' */
.fontello-fontsize:before { content: '\e92a'; } /* '' */
.fontello-tag-1:before { content: '\e92b'; } /* '' */
.fontello-attention-1:before { content: '\e92c'; } /* '' */
.fontello-play-1:before { content: '\e92d'; } /* '' */
.fontello-crown:before { content: '\e92e'; } /* '' */
.fontello-search-2:before { content: '\e92f'; } /* '' */
.fontello-user:before { content: '\e930'; } /* '' */
.fontello-users:before { content: '\e931'; } /* '' */
.fontello-male:before { content: '\e932'; } /* '' */
.fontello-female:before { content: '\e933'; } /* '' */
.fontello-th-large:before { content: '\e934'; } /* '' */
.fontello-th:before { content: '\e935'; } /* '' */
.fontello-th-list:before { content: '\e936'; } /* '' */
.fontello-home-1:before { content: '\e937'; } /* '' */
.fontello-link-2:before { content: '\e938'; } /* '' */
.fontello-unlink:before { content: '\e939'; } /* '' */
.fontello-link-ext:before { content: '\e93a'; } /* '' */
.fontello-link-ext-alt:before { content: '\e93b'; } /* '' */
.fontello-attach-2:before { content: '\e93c'; } /* '' */
.fontello-lock-1:before { content: '\e93d'; } /* '' */
.fontello-lock-open-1:before { content: '\e93e'; } /* '' */
.fontello-lock-open-alt:before { content: '\e93f'; } /* '' */
.fontello-pin:before { content: '\e940'; } /* '' */
.fontello-download-cloud-1:before { content: '\e941'; } /* '' */
.fontello-upload-cloud-2:before { content: '\e942'; } /* '' */
.fontello-quote-left:before { content: '\e943'; } /* '' */
.fontello-quote-right:before { content: '\e944'; } /* '' */
.fontello-comment:before { content: '\e945'; } /* '' */
.fontello-chat:before { content: '\e946'; } /* '' */
.fontello-comment-empty:before { content: '\e947'; } /* '' */
.fontello-chat-empty:before { content: '\e948'; } /* '' */
.fontello-bell-alt:before { content: '\e949'; } /* '' */
.fontello-attention-alt:before { content: '\e94a'; } /* '' */
.fontello-direction-1:before { content: '\e94b'; } /* '' */
.fontello-trash-1:before { content: '\e94c'; } /* '' */
.fontello-doc-2:before { content: '\e94d'; } /* '' */
.fontello-docs:before { content: '\e94e'; } /* '' */
.fontello-doc-text:before { content: '\e94f'; } /* '' */
.fontello-doc-inv:before { content: '\e950'; } /* '' */
.fontello-doc-text-inv:before { content: '\e951'; } /* '' */
.fontello-rss-2:before { content: '\e952'; } /* '' */
.fontello-rss-squared-1:before { content: '\e953'; } /* '' */
.fontello-phone-1:before { content: '\e954'; } /* '' */
.fontello-phone-squared-1:before { content: '\e955'; } /* '' */
.fontello-menu-1:before { content: '\e956'; } /* '' */
.fontello-basket:before { content: '\e957'; } /* '' */
.fontello-volume-off:before { content: '\e958'; } /* '' */
.fontello-volume-down:before { content: '\e959'; } /* '' */
.fontello-volume-up-1:before { content: '\e95a'; } /* '' */
.fontello-clock-1:before { content: '\e95b'; } /* '' */
.fontello-block-1:before { content: '\e95c'; } /* '' */
.fontello-resize-full-1:before { content: '\e95d'; } /* '' */
.fontello-resize-full-alt:before { content: '\e95e'; } /* '' */
.fontello-resize-small-1:before { content: '\e95f'; } /* '' */
.fontello-resize-vertical:before { content: '\e960'; } /* '' */
.fontello-resize-horizontal-1:before { content: '\e961'; } /* '' */
.fontello-move-1:before { content: '\e962'; } /* '' */
.fontello-zoom-in:before { content: '\e963'; } /* '' */
.fontello-zoom-out:before { content: '\e964'; } /* '' */
.fontello-award-1:before { content: '\e965'; } /* '' */
.fontello-desktop:before { content: '\e966'; } /* '' */
.fontello-laptop:before { content: '\e967'; } /* '' */
.fontello-tablet:before { content: '\e968'; } /* '' */
.fontello-mobile-1:before { content: '\e969'; } /* '' */
.fontello-inbox:before { content: '\e96a'; } /* '' */
.fontello-globe:before { content: '\e96b'; } /* '' */
.fontello-sun:before { content: '\e96c'; } /* '' */
.fontello-cloud:before { content: '\e96d'; } /* '' */
.fontello-flash:before { content: '\e96e'; } /* '' */
.fontello-moon:before { content: '\e96f'; } /* '' */
.fontello-umbrella:before { content: '\e970'; } /* '' */
.fontello-flight:before { content: '\e971'; } /* '' */
.fontello-sample-cloth:before { content: '\e972'; } /* '' */
.fontello-kinou-eco:before { content: '\e973'; } /* '' */
.fontello-line:before { content: '\e974'; } /* '' */