




/*-------------------------------------------*/
/* items                                     */
/*-------------------------------------------*/
.item {
  display:block;
  position:relative;
  margin:0 0 10px;
}
.item:hover {
  text-decoration:none;
}
.items.md-mb00 .item {
  margin:0 0 0px;
}
.items.md-mb05 .item {
  margin:0 0 5px;
}
.items.md-mb10 .item {
  margin:0 0 10px;
}
.items.md-mb15 .item {
  margin:0 0 15px;
}
.items.md-mb20 .item {
  margin:0 0 20px;
}
.items.md-mb30 .item {
  margin:0 0 30px;
}
.items.md-mb40 .item {
  margin:0 0 40px;
}



/*-------------------------------------------*/
/* item                                      */
/*-------------------------------------------*/
a.item {
  transition:all 0.2s ease-in-out;
}
.item:after {
  content:".";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}
.item .el-figure,
.item .el-thumb {
  position:relative;
  display:block;
  margin-bottom:2px;
}
.item.media .el-figure,
.item.media .el-thumb {
  margin-bottom:0px;
}
.item .el-thumb-img {
  max-width:100%;
  transition:all 0.2s ease-in-out;
}
a.item:hover .el-thumb-img,
.item a:hover .el-thumb-img {
  opacity:0.8;
}
.item .el-body {
  position:relative;
  display:block;
}
.item .el-maker,
.item .el-name {
  display:block;
  color:#333;
}
.item .el-num,
.item .el-code {
  font-size:14px;
  font-weight:bold;
  display:block;
}
.item .el-maker {
  font-size:12px;
}
.item .el-name {
  font-size:14px;
  font-weight:bold;
}
.item .el-sub-name {
  font-weight: normal;
  font-size: 11px;
  color:#333;
}
.item .el-subname {
  font-size:14px;
}
.item .el-maker-price {
  font-size:12px;
  color:#666;
  text-decoration:line-through;
}
.item .el-price {
  color:#C63329;
  font-size:14px;
  font-weight:bold;
  display:block;
}
.item .el-price.md-none {
  color:#666;
  font-weight:normal;
}
.item .el-price-note {
  color:#666;
  font-size:12px;
  font-weight:normal;
  display:inline;
}
.item .el-info {
  font-size:13px;
  color:#333;
  display:block;
}
.item .el-txt {
  font-size:12px;
  color:#555;
  display:block;
  margin:2px 0;
}

/* .icons.md-feat */
.item .icons.md-feat {
  position:absolute;
  bottom:0;
  right:3px;
}



/* .item.md-no-overflow
-------------------------------------------*/
.item.md-no-overflow {
  overflow:hidden;
}



/* md-series
-------------------------------------------*/
.item.md-series {
  position:relative;
  display:block;
  border-bottom:1px solid #CCC;
  padding:0 0 8px;
  line-height:1.4;
}
.item.md-series:hover {
  border-color:#FF8B08;
  text-decoration:none;
}
.item.md-series .el-name {
  display:block;
  color:#333;
  font-weight:bold;
}
.item.md-series .el-price {
  display:block;
  color:#E10A17;
  font-weight:bold;
}
.item.md-series .icons.md-spec {
  display:block;
  font-size:10px;
  margin:0 0 3px;
  position:absolute;
  left:3px;
  top:120px;
}
.item.md-series .icons.md-spec img {
  vertical-align:middle;
  margin-right:2px;
  width:auto;
  height:24px;
}




/* .item.md-polaroid
-------------------------------------------*/
.item.md-polaroid {
  padding:5px;
  background-color:#FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

/* .item.md-page-menu
-------------------------------------------*/
.item.md-page-menu {
  padding:5px;
  background-color:#FFF;
  border-color:#BBB;
  border-width:5px;
  border-style:solid;
  margin-bottom:20px;
}
.item.md-page-menu:after {
  visibility:visible;
  bottom: -17px;
  left: 0;
  right: 0;
  margin:0 auto;
  content: "";
  height: 0;
  width: 0;
  display:block;
  position: absolute;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #BBB;
  border-top-width: 15px;
  border-bottom-width: 0px;
  border-left-width: 15px;
  border-right-width: 15px;
  z-index:1;
}
.item.md-page-menu:before {
  bottom: -9px;
  left: 0;
  right: 0;
  margin:0 auto;
  content: "";
  height: 0;
  width: 0;
  display:block;
  position: absolute;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFF;
  border-top-width: 9px;
  border-bottom-width: 0px;
  border-left-width: 8px;
  border-right-width: 8px;
  z-index:2;
}


/*
-------------------------------------------*/
.items.md-horizontal > .item {
  display:inline-block;
  border:none !important;
}
.items.md-horizontal > .item + .item:before {
  content: "｜ ";
}

/*
-------------------------------------------*/
.items.md-supplement>.item {
  font-size:0.8rem;
  color:#555;
}


/* ライン形式
-------------------------------------------*/
.items.md-lined {
  padding:0 2px;
  margin:0;
}
.items.md-lined .item {
  padding:2px 0;
  margin:0;
  margin-bottom:0;
  border-top:none;
  border-bottom:1px solid #DDD;
}
.items.md-lined .item a {
  padding:4px 5px;
  margin:0;
  display:block;
  border-radius:2px;
}
.items.md-lined .item a:hover {
  text-decoration:none;
  background-color:rgba(0,0,0,0.1);
}


/* フレーム形式
-------------------------------------------*/
.items.md-framed {
}
.items.md-framed .item {
  padding:2px;
  border:1px solid #DDD;
}
.items.md-framed a.item:hover {
  border-color:#EFA63D;
}
.items.md-framed .item .el-body {
  margin:2px;
}
.items.md-framed .item.md-framed a {
  padding:4px 5px;
  margin:0;
  display:block;
  border-radius:2px;
}
.items.md-framed .item.md-framed a:hover {
  text-decoration:none;
  background-color:rgba(0,0,0,0.1);
}
.items.md-framed .item .el-induction {
  display:inline-block;
  position:absolute;
  bottom:0px;
  right:0px;
  background-color:#AAA;
  color:#FFF;
  font-size:11px;
  padding:2px 7px;
  border-radius:4px 0 0 0;
  transition:all 0.2s ease-in-out;
}
.items.md-framed .item:hover .el-induction {
  background-color:#EFA63D;
  color:#FFF;
}

/* ------------------------- */
.items.md-framed.md-p05 .item {
  padding:5px;
}
.items.md-framed.md-frame02 .item {
  border-width:2px;
}
