




/*-------------------------------------------*/
/* ラベル                                    */
/*-------------------------------------------*/
.labels {
  display:block;
  margin:2px 0;
}
.labels.md-top-left {
  position:absolute;
  top:0px;
  left:0px;
}
.labels.md-top-right {
  position:absolute;
  top:0px;
  right:0px;
}
.labels.md-bottom-left {
  position:absolute;
  bottom:0px;
  left:0px;
}
.labels.md-bottom-right {
  position:absolute;
  bottom:0px;
  right:0px;
}


.label {
  display:inline-block;
}

/* テキストラベル
-------------------------------------------*/
.label.md-txt-label {
  background-color:#999;
  display:inline-block;
  *display:inline;
  color:#FFF;
  font-weight:normal;
  padding:2px 5px;
  font-size:11px;
  border-radius:1px;
  letter-spacing:normal;
  margin:1px;
}
.label.md-txt-label.md-basic-info {
  background-color:#F08300;
}
.label.md-txt-label.md-price {
  background-color:#F14950;
}
.label.md-txt-label.md-recomend {
  background-color:#F08300;
}
.label.md-txt-label.md-gray {
  background-color:#999 !important;
}
.label.md-txt-label.md-gray-border {
  background-color:#EEE !important;
  border:1px solid #CCC !important;
  color:#666 !important;
}
.label.md-txt-label.md-red {
  background-color:#F14950 !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-pink {
  background-color:#DB5D9D !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-orange {
  background-color:#F08300 !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-brown {
  background-color:#877E7A !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-blue {
  background-color:#3B7EA8 !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-light-blue {
  background-color:#4192D5 !important;
  border:none !important;
  color:#FFF !important;
}
.label.md-txt-label.md-light-green {
  background-color:#90C030 !important;
  border:none !important;
  color:#FFF !important;
}


/* ラベルの配置
-------------------------------------------*/
.label.md-top-left {
  position:absolute;
  top:4px;
  left:4px;
}
.label.md-top-right {
  position:absolute;
  top:4px;
  right:4px;
}
.label.md-bottom-left {
  position:absolute;
  bottom:4px;
  left:4px;
}
.label.md-bottom-right {
  position:absolute;
  bottom:4px;
  right:4px;
}



/* ディスカウントラベル
/*「比べてください！松装だけのお値打価格！」
-------------------------------------------*/
.label.md-discount-01 {
}


.label.md-img-bar {
}





/*-------------------------------------------*/
/* 画像ラベル                                */
/*-------------------------------------------*/
.label.md-img-label {
  position:absolute;
  top:0px;
  left:0px;
  &.md-right {
    left:auto;
    right:0px;
  }
  &.md-top-left {
    top:0px;
    left:0px;
  }
  &.md-top-right {
    top:0px;
    right:0px;
    left:auto;
  }
  &.md-bottom-left {
    bottom:0px;
    left:0px;
    top:auto;
  }
  &.md-bottom-right {
    bottom:0px;
    right:0px;
    top:auto;
    left:auto;
  }
}
