



/*-------------------------------------------*/
/* シリーズ一覧                              */
/*-------------------------------------------*/
.product-list-area {
  border-top:3px solid #888;
  background:#EEE;
  padding:10px 10px 30px;
  position:relative;
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
  }
  /*
  .heading {
    margin:0 0 10px;
    font-size:18px;
  }
  */
  .heading.md-first {
    margin:5px 0 10px;
    font-size:20px;
  }
  a {
    color:#005C9C;
  }
  .el-head {
    margin:0 0 15px;
    .sub-heading {
      font-weight:bold;
      margin:0 0 5px;
      font-size:14px;
      color:#444;
    }
    .el-txt {
      width:450px;
      font-size:12px;
      margin:0 5px 7px;
      color:#555;
    }
    .el-txt.md-wide {
      width:auto;
    }
    a.link-category {
      font-weight:bold;
      margin:0 5px;
    }
  }
  hr {
    margin:0 5px 10px;
  }

  /* 「トップへ」 */
  a.to-top {
    color:#FFF !important;
    background-color:#515146;
    display:block;
    font-size:12px;
    padding:3px 7px 2px;
    width:6em;
    text-align:center;
    border-radius:3px 0px 0px 0px;
    position:absolute;
    bottom:0px;
    right:0px;
    transition:all 0.2s ease-in-out;
    &:hover {
      text-decoration:none;
      opacity:0.8;
      filter:alpha(opacity=80);
      zoom:1;
    }
  }


  /* md-catalog-idx
  -------------------------------------------*/
  &.md-catalog-idx {
  }


  /* md-alt
  -------------------------------------------*/
  &.md-alt {
    border-top:1px solid #F8F8F8;
    border-bottom:1px solid #BBB;
  }
}









/*-------------------------------------------*/
/* アイテムズエリア
/*-------------------------------------------*/
.items-area {
  border-top:1px solid #F8F8F8;
  border-bottom:1px solid #BBB;
  background:#EEE;
  padding:10px 10px 30px;
  position:relative;
  &:after {
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
  }
  .heading {
    margin:0 0 10px;
    font-size:18px;
  }
  a {
    color:#2B86D2;
  }
  .el-head {
    margin:0 0 15px;
    .sub-heading {
      font-weight:bold;
      margin:0 0 5px;
      font-size:14px;
      color:#444;
    }
    .el-txt {
      width:450px;
      font-size:12px;
      margin:0 5px 7px;
      color:#555;
    }
    .el-txt.md-wide {
      width:auto;
    }
    a.link-category {
      font-weight:bold;
      margin:0 5px;
    }
  }
  hr {
    margin:0 5px 10px;
  }

  /* 「トップへ」 */
  a.to-top {
    color:#FFF !important;
    background-color:#515146;
    display:block;
    font-size:12px;
    padding:3px 7px 2px;
    width:6em;
    text-align:center;
    border-radius:3px 0px 0px 0px;
    position:absolute;
    bottom:0px;
    right:0px;
    transition:all 0.2s ease-in-out;
    &:hover {
      text-decoration:none;
      opacity:0.8;
      filter:alpha(opacity=80);
      zoom:1;
    }
  }
}




/*-------------------------------------------*/
/* product-list-area.md-select-lineup
/* 「絞り込み検索」アイテムエリア
/*-------------------------------------------*/
.product-list-area.md-select-lineup {
  padding:15px 5px;
  background:#EEE;
  border-top:5px solid #CCC;
  border-bottom:1px solid #CCC;
  position:relative;
  .heading.md-sub {
    font-size:13px;
    margin-bottom:2px;
  }
  .heading.md-sub i:before {
    font-size:15px;
    margin:0 3px 2px 0;
  }

  /* アイテムリスト */
  .display-navi,
  .item-navi {
    padding:0 5px 10px;
    margin-bottom:10px;
    border-bottom:1px solid #CCC;
    color:#333;
  }
  .item-navi:after {
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    clear: both;
    visibility:hidden;
  }
  .item-navi .btn {
    font-weight:normal;
    text-align:center;
    margin:0 0 5px 0;
    padding:3px 10px;
    border-radius:3px;
    font-size:12px;
  }
  .item-navi li.active {
    background-color:#C64B3A;
  }
  .item-navi li:hover {
    text-decoration:none;
    opacity:0.8;
  }
  .display-navi {
  }
  .display-navi .btn {
    background-color:transparent;
    border:1px solid #CCC;
    color:#666;
    font-weight:normal;
    font-size:12px;
    padding:1px 5px;
    margin:0 0 5px 0;
  }
  .display-navi .btn.active,
  .display-navi .btn.active:hover {
    border:1px solid #666;
    color:#444;
  }
  .display-navi .btn i {
    margin-right:5px;
  }
  .display-navi .btn:hover {
    opacity:1;
    color:#555;
    border:1px solid #BBB;
  }

  .item {
    border-bottom:2px solid #CCC;
    padding:5px 0;
  }
  .item:hover {
    border-color:#FF8B08;
  }
  .items .label.md-tile-hidden {
    display:none;
  }
  .el-thumb img.el-thumb-img {
    width:100%;
    height:auto;
  }
  .item .el-price {
    display:inline-block;
  }
  .item .el-price-note {
    display:inline-block;
    font-size:11px;
    color:#666;
    font-weight:normal;
  }
  .item .el-maker {
    display:block;
    font-weight:normal;
    font-size:11px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .el-name {
    display: block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .el-price {
  }
  .pager {
    clear:both;
    margin:10px 10px 2px;
    position:relative;
    ul {
      text-align:center;
    }
    &:after {
      content: ".";
      display: block;
      height: 0;
      font-size:0;
      clear: both;
      visibility:hidden;
    }
    li {
      display:inline-block;
    }
    li a,
    li a:link,
    li a:active,
    li a:visited {
      color:#666 !important;
      font-size:15px;
      display:inline-block;
      padding:5px 8px;
      border:1px solid #CCC;
      border-radius:2px;
      margin:0 2px 4px;
    }
    li a.prev {
      position:absolute;
      left:0px;
      top:0px;
    }
    li a.next {
      position:absolute;
      right:0px;
      top:0px;
    }
    li a:hover {
      text-decoration:none;
      border:1px solid #AAA;
      opacity:1;
      filter:alpha(opacity=100);
      zoom:1;
    }
    li a.active {
      color:#333;
      border:1px solid #666;
    }
  }

  /* 「トップへ」 */
  a.to-top {
    color:#FFF !important;
    background-color:#515146;
    display:block;
    font-size:12px;
    padding:3px 7px 2px;
    width:6em;
    text-align:center;
    border-radius:3px 0px 0px 0px;
    position:absolute;
    bottom:0px;
    right:0px;
    transition:all 0.2s ease-in-out;
    &:hover {
      text-decoration:none;
      opacity:0.8;
      filter:alpha(opacity=80);
      zoom:1;
    }
  }
}




/* .product-list-area.md-select-lineup.md-list
-------------------------------------------*/
.product-list-area.md-select-lineup.md-list {

  .items {

    .g03 {
      width:auto;
      float:none;
    }
    .item {
      margin-bottom:0;
      padding:5px 5px 3px;
    }
    .grid:first-child .g03:first-child .item {
      border-top:1px solid #CCC;
    }
    .item .labels {
    }
    .item .labels.md-kinou .label {
      background-color:transparent;
    }
    .label.md-tile-hidden {
      display:inline-block;
    }
    .item .el-thumb {
      display:inline-block;
      float:left;
      margin-right:5px;
    }
    .item .el-body {
      overflow:hidden;
    }
  }
}
